<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    {% comment %} logout {% endcomment %}
    <a href="{% url 'logout' %}">Logout</a>
    {% for device in devices %}
    
    <p>{{device.dashboard_data.AbsolutePressure}}</p>
    <p>{{device.firmware}}</p>
    <p>{{device.id}}</p>
    
    {% endfor %}
</body>
</html>