
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <a href="{% url 'logout' %}">Logout</a>
    {% for device in devices %}
    
    <p>name {{device.station_name}}</p>
    <p>firmware {{device.firmware}}</p>
    <p>id {{device.id}}</p>
    <p>update {{device.last_status_store}}</p>
    <p>temperature {{device.dashboard_data.Temperature}}</p>
    <p>co2 {{device.dashboard_data.CO2}}</p>
    <p>color {{device.health_color}}</p>
    <p>state {{device.health_state}}</p>
    
    {% endfor %}
</body>
</html>