<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src='main.js'></script>
</head>
<body>
    <!--Login-->
    <div>
    <div class="card text-center;" style="margin: auto; margin-top: 50px; width: 400px;">
        <div class="card-header">
            <div style="width: 270px; height: 100px;background-image:url('/static/logoSinFondo.png'); background-size: 100% 100%; margin:auto;"></div>
        </div>
        <div class="card-body" style="margin:auto;">
          <h5 class="card-title" style="margin-bottom: 40px; margin-left: 35px; margin-top: 40px; font-family: 'Times New Roman'; font-size: 2em;">Log in with Netatmo</h5>
          <a href="{% url 'login_netatmo' %}" class="btn btn-primary" style="margin-left:90px ;">With Netatmo</a>
        </div>
      </div>
    </div>
</body>
</html>