{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static '/lib/style.css' %}">
    <script type="text/javascript" src="{% static '/lib/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/lib/script.js' %}"></script>
    <script type="text/javascript" src="{% static '/lib/bootstrap.bundle.min.js' %}"></script>
    <title>Safe Life</title>
    <link rel="shortcut icon" type="image/png" href="../static/fotos/Icon.png"> <!-- icon -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&family=Montserrat&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <main>

      <!-- MENU -->
      <div class="modal fade col-sm-4 col-md-4 col-lg-4 col-xl-4" id="modalMenu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close col-lg-12" data-bs-dismiss="modal" aria-label="Close" style="margin-right:1%;"></button>              
            </div>
            <div class="modal-body align-items-center">
                <a class="menuBtns" style="font-size: 1.5em; text-decoration: none;" href="{% url 'devices' %}"><span class="bi bi-arrow-return-left"></span>  Volver</a>
                <hr style="width: 100%;">  
                <p class="menuBtns" style="font-size: 1.5em;" data-bs-toggle="modal" data-bs-target="#modalPaciente"><span class="bi bi-person-plus-fill"></span>  Agregar paciente</p>
                <hr style="width: 100%;">          
                <a class="menuBtns" style="font-size: 1.5em; text-decoration: none;" href="{% url 'logout' %}"><span class="bi bi-box-arrow-right"></span>  Cerrar Sesión</a>
            </div>
          </div>
        </div>
      </div>
      <!--END MENU-->


      <!--CREATE PATIENT MODAL-->
      <div class="modal fade" id="modalPaciente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">              
              <h1 class="modal-title fs-5" id="staticBackdropLabel"> Datos del Paciente </h1>
              <button type="button" class="btn-close col-lg-12" data-bs-dismiss="modal" aria-label="Close" style="margin-right:1%;"></button>              
            </div>
            <div class="modal-body">              
              <form class="row g-3" action="{%url 'createPatient'%}" method="post" >{% csrf_token %}
            <div class="col-12">
                <label for="inputNombre" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="inputNombre" name="inputNombre">
              </div>
              <div class="row">
              <div class="col-6">
                <label for="inputRut" class="form-label">Rut</label>
                <input type="text" class="form-control" id="inputRut" name="inputRut">
              </div>
              <div class="col-6">
                <label for="inputEdad" class="form-label">Edad</label>
                <input type="text" class="form-control" id="inputEdad" name="inputEdad">
              </div>
            </div>
              <div class="col-12">
                <label for="inputCondicion" class="form-label">Condición</label>
                <input type="text" class="form-control" id="inputCondicion" name="inputCondicion">
              </div>
              <br>
              <label for="inputContacto" class="form-label fs-5">Contacto de Emergencia</label>
              <div class="col-12">
                <label for="inputNombreContacto" class="form-label">Nombre del Contacto</label>
                <input type="text" class="form-control" id="inputNombreContacto" name="inputNombreContacto">
              </div>
              <div class="col-12">
                <label for="inputNContacto" class="form-label">Numero de telefono</label>
                <input type="text" class="form-control" id="inputNContacto" name="inputNContacto">
              </div>
            <div class="col-12">
              <label for="inputAmbiente" class="form-label">Seleccione un ambiente</label>
              <select id="inputAmbiente" name="inputAmbiente" class="form-select">
                {% for device in devices %}
                <option id="{{device.station_name}}" name="{{device.station_name}}" selected value="{{ device.id }}">{{device.station_name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" style="margin-left:40%; border: none;">Agregar</button>
            </div>
          </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      <!--END CREATE PATIENT MODAL-->


      <!--HEADER-->
      <header class="row d-flex align-items-center">
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 d-flex align-items-center"><a href="{% url 'devices' %}" style="margin: auto;"><img src="../static/fotos/Logo.png"></a></div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"><a id="btnMenu" class="bi bi-list" data-bs-toggle="modal" data-bs-target="#modalMenu"></a></div>
      </header>
      <nav class="row d-flex align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="background-color: #84e0ff;"></div>
      </nav>
      <!--END HEADER-->
      

      <!--CONTAINER-->
      <div class="container">

        <!--PATIENTS LIST-->
        <div class="table-responsive py-3">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre Paciente</th>
                      <th>RUT</th>
                      <th>Edad</th>
                      <th>Condición de Salud</th>
                      <th>Contacto de Emergencia</th>
                      <th>Teléfono Contacto de Emergencia</th>
                      <th>Modificar/Eliminar</th>
        
                  </tr>
              </thead>
              <tbody>
                  {%for p in patients %}
                  <tr>
                      <td>{{p.id}}</td>
                      <td>{{p.nombre}}</td>
                      <td>{{p.rut}}</td>
                      <td>{{p.edad}}</td>
                      <td>{{p.condicion}}</td>
                      <td>{{p.nombre_contacto}}</td>
                      <td>{{p.numero_contacto}}</td>
                      <td><button data-bs-toggle="modal" data-bs-target="#modalEdit{{p.id}}" style="cursor: pointer;" class="btn btn-warning"><span class="bi bi-pencil-fill"></span></button>  |  <button class="btn btn-danger"><a href="{%url 'delete' p.id %}" style="text-decoration: none; color: #1b263b;"><span class="bi bi-trash-fill"></span></a></button></td>

                      <!--PATIENT UPDATE MODAL-->
                      <div class="modal fade" id="modalEdit{{p.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">              
                              <h1 class="modal-title fs-5" id="staticBackdropLabel"> Datos del Paciente </h1>
                              <button type="button" class="btn-close col-lg-12" data-bs-dismiss="modal" aria-label="Close" style="margin-right:1%;"></button>              
                            </div>
                            <!--MODAL BODY-->
                            <div class="modal-body">              
                              <!--UPDATE FORM-->
                              <form class="row g-3" action="{%url 'updatePatient' p.id%}" method="post" >{% csrf_token %}
                                
                                <div class="col-12">
                                  <label for="inputNombre" class="form-label">Nombre Completo</label>
                                  <input type="text" class="form-control" id="inputNombre" name="inputNombre" value="{{p.nombre}}">
                                </div>
                                
                                <div class="row">
                                  <div class="col-6">
                                    <label for="inputRut" class="form-label">Rut</label>
                                    <input type="text" class="form-control" id="inputRut" name="inputRut" value="{{p.rut}}">
                                  </div>
                                  <div class="col-6">
                                    <label for="inputEdad" class="form-label">Edad</label>
                                    <input type="text" class="form-control" id="inputEdad" name="inputEdad" value="{{p.edad}}">
                                  </div>
                                </div>
                                
                                <div class="col-12">
                                  <label for="inputCondicion" class="form-label">Condición</label>
                                  <input type="text" class="form-control" id="inputCondicion" name="inputCondicion" value="{{p.condicion}}">
                                </div>
                                
                                <br>
                                
                                <label for="inputContacto" class="form-label fs-5">Contacto de Emergencia</label>
                                
                                <div class="col-md-12">
                                  <label for="inputNombreContacto" class="form-label">Nombre del Contacto</label>
                                  <input type="text" class="form-control" id="inputNombreContacto" name="inputNombreContacto" value="{{p.nombre_contacto}}">
                                </div>
                                
                                <div class="col-md-12">
                                  <label for="inputNContacto" class="form-label">Numero de telefono</label>
                                  <input type="text" class="form-control" id="inputNContacto" name="inputNContacto" value="{{p.numero_contacto}}">
                                </div>
                                
                                <div class="col-md-12">
                                  <label for="inputAmbiente" class="form-label">Seleccione un ambiente</label>
                                  <select id="inputAmbiente" name="inputAmbiente" class="form-select">
                                  {% for device in devices %}
                                    <option id="{{device.station_name}}" name="{{device.station_name}}" selected value="{{ device.id }}">{{device.station_name}}</option>
                                  {% endfor %}
                                  </select>
                                </div>
                                
                                <br>
                                
                                <button type="submit" class="btn btn-success" style="margin: auto; border: none;" class="col-6">Guardar cambios</button>
                              
                              </form>                        
                              <!--END UPDATE FORM-->
                            </div>
                            <!--END MODAL BODY-->
                            <div class="modal-footer">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--END PATIENT UPDATE MODAL-->
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
        <!--END PATIENTS LIST-->


      </div>
      <!--END CONTAINER-->  

      <br>
    
      <!--LEGRAND-->
      <a id="colab" class="position-fixed p-1" href="https://www.legrand.cl/">
        <p id="colabP">En colaboración con</p>
        <img id="colabImg" src="/static/fotos/Legrand.png">
      </a>
    </main>
</body>
</html>